@import 'src/styles/variables';
@import 'src/styles/mixins/media-query';
@import 'src/styles/mixins/breakpoint-vars';

.Home {

  &_stickyContainer {
    background-color: #3B3A3C;

    @include wide {
      display: grid;
      grid-template-columns: 0.5fr 1fr 8.5fr;
    }
  }

  &_sideMenu {
    position: sticky;
    top: 10%;
    justify-self: end;
    grid-column: unset;
    height: fit-content;
    display: none;

    @include wide {
      grid-column: 2/3;
      display: unset;
    }
  }

  &_skills {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
    padding-bottom: 100px;
    grid-column: 2/4;

    @include wide {
      padding-left: 10%;
      padding-right: 20%;
      grid-column: 3/4;
    }
  }

  &_workexp, 
  &_education,
  &_accolades,
  &_certifications {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
    padding-bottom: 100px;
    grid-column: 2/3;

    @include wide {
      padding-left: 20%;
      padding-right: 20%;
      grid-column: 1/6;
    }
  }

  &_workexp,  
  &_accolades {
    background-color: #252426;
  }

  &_heading {
    color: $yellow;
    font-size: 40px;
    text-align: center;

    @include wide {
      font-size: 60px;
    }
  }

  &_subheading {
    color: $yellow;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  &_details {
    color: $yellow;
    padding-top: 20px;
    font-size: 20px;
  }

  &_text {
    padding-bottom: 7px;
  }
}
.pink {
  color: $pink;
  cursor: pointer;
}
