@import 'src/styles/variables';

.Footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $dark-grey;
  color: $yellow;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &_icons {
    cursor: pointer;
    text-decoration: none;
    padding-right: 10px;
    color: $pink;
  }
}
