@import 'src/styles/variables';

.Main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: $dark-grey;
  position: relative;
  padding-left: 10%;
  padding-right: 10%;

  &_title {
    color: $yellow;
    font-size: 60px;
    text-align: center;
  }

  &_subtitle {
    padding-top: 10px;
    color: $yellow;
    font-size: 30px;
    text-align: center;
  }

  &_scrolldown {
    height: 100px;
    width: 120px;
    background-color: $grey;
    position: absolute;
    bottom: 0;
    right: 10%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba($dark-grey, 0.8);
  }
}
.pink {
  color: $pink;
}
